<%- include('includes/navigation.ejs') %> 

<main class="about-us-style">
  <div class="container-fluid">
    We have just started this and we look forward to help you out
  </div>
</main>

<section class="colored-section" id="testimonials">
    <div id="car-div-top">OUR FIRST CUSTOMERS</div>
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item container-fluid">
          <img class="testimonial-image" src="./images/circle-cropped (1).png" alt="lady-profile">
          <h2 class="testimonial-text">I don't know why i am here but it feels good </h2>
          <p class="testimonial-names">Parth</p>
        </div>
        <div class="carousel-item active container-fluid">
          <img class="testimonial-image" src="./images/circle-cropped.png" alt="dog-profile">
          <h2 class="testimonial-text">This is my first time and these guys are good</h2>
          <p class="testimonial-names">Nipun</p>
        </div>
        <div class="carousel-item container-fluid">
          <img class="testimonial-image" src="./images/circle-cropped (2).png" alt="lady-profile">
          <h2 class="testimonial-text">This is a decent place and i like the one who has same name as mine</h2>
          <p class="testimonial-names">Rishabh</p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <%- include('includes/footer.ejs') %> 