<%- include('includes/navigation.ejs') %> 

<div style="text-align: center;">
  <form action="/signUp" method="get">
    <button type="submit" id="img-button">
      Join us
    </button>
  </form>
</div>
<img src="./images/a.jpg" alt="landing image" id="img-style">
  <%- include('includes/footer.ejs') %> 
